body {
  background: url("images/bg.jpg");
  background-size: cover;
}

.text-center {
  text-align: center;
  color: white;
}

.text {
  color: white;
  background-color: transparent;
  margin-left: 1050px;
  height: 100px;
  width: 200px;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  color: white;
  font-size: xx-large;
  /* text-align: center; */
  font-size: 5rem;
  line-height: 1;
}

.menubar {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 430px;
  left: 245px;
  bottom: 60px;
  background: rgba(255, 255, 255, 0.175);
  width: 1800px;
}

.massive {
  /*background-color: lightgray;*/
  font-size: 0.8rem;
  font-size: x-large;
  padding: 2rem;
  display: flex;
  justify-content: start;
  display: inline-block;
  color: white;
}
.massive a {
  text-decoration: none;
}
.massive a:hover {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
}

a {
  color: lightseagreen;
}

.parent {
  width: 1800px;
  margin: auto;
  background-color: white;
  position: relative;
  right: 1px;
}

.spec {
  text-align: center;
  padding-top: 60px;
}

.special1 {
  text-align: center;
  font-size: 4rem;
  line-height: 1.1;
  color: black;
}

.special {
  text-align: center;
  line-height: 2;
  font-size: 1.4rem;
}

.image {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  height: auto;
  overflow: hidden;
}

.image img {
  transition: all 0.3s ease-in-out;
}

.image img:hover {
  transform: scale(1.2);
}

.paragraph {
  font-size: 1.4rem;
}

.content {
  display: flex;
  justify-content: center;
}

.acconts {
  background-color: rgb(245 244 244);
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  margin-top: 70px;
}

.sendmessage {
  color: black;
  border: solid;
  width: fit-content;
  margin-top: 20px;

  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.sendmessage:hover {
  color: lightskyblue;
}

.home {
  font-size: x-large;
}

.labels {
  font-size: x-large;
}
